@charset "utf-8";

@import "compass";

#hidden-networks-nav {
  display: block;
}

body .two-column-layout {
  width: 100%;
  #column-one {
    margin-right: -200px;
  }
  #column-two {
    padding-left: 200px;
    width: 100%;
    .column-two-left {
      min-width: 500px;
      padding-right: 500px;
      width: auto;
    }
    .column-two-right {
      margin-left: -480px;
    }
  }
}
